/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-size: var(--main-font-size);
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--main-txt-wdth, 400);
  background-color: var(--background-color);
  color: var(--accent-color);
}

body {
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
}

/* Хедер */

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  padding-bottom: 25px;
  margin: 100px auto 100px;
  font-family: var(--accent-font), fantasy;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
}

.heading {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  padding-block-start: clamp(7.5rem, 6.3462rem + 4.9231vw, 8.5rem);
  padding-block-end: 20px;
  text-transform: uppercase;
}

.header__menu-title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  padding-bottom: 24px;
}

/* Кнопки переключения тем */

.theme-menu {
  inline-size: 84px;
  block-size: 70px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.theme-menu__item {
  font-size: 14px;
  padding-inline-start: 10px;
}

/* Кнопки переключения тем */

.theme-menu__button {
  position: relative;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  padding: 0;
}

.theme-menu__button::before {
  content: '▶';
  position: absolute;
  left: -18px;
  animation: pulse 0.5s infinite ease-in-out;
}

.theme-menu__button:enabled::before {
  color: transparent;
}

.theme-menu__button::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -2px;
  display: block;
  width: 0;
  height: 2px;
  background: var(--accent-color);
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}
.theme-menu__button:focus-visible::after {
  width: 100%;
  transition: 0.5s ease;
}

.theme-menu__button:hover {
  cursor: pointer;
  transition: 0.3s ease;
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  transition: 0.3s ease;
  pointer-events: none;
}

.theme-menu__button:focus {
  outline: none;
}

/* Основной контент */

/* Общие стили карточек */

.article__card-content {
  display: flex;
  flex-direction: column;
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  border: 2px solid var(--accent-color);
  margin: 0 auto 50px;
}

.article__title {
  font-family: var(--main-font), sans-serif;
  font-size: var(--main-font-size);
  font-variation-settings: 'wght' var(--main-card-font-weight, 700);
  padding: 5px 10px;
  background-color: var(--background-color);
  border-bottom: 2px solid var(--accent-color);
}

.card__image {
  width: 100%;
  max-height: 696px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-color: var(--background-color);
}

.bus__image {
  max-width: 100%;
  height: auto;
  display: block;
}

.card__lable {
  position: absolute;
  font-family: var(--accent-font), fantasy;
  font-size: var(--accent-font-size);
  font-weight: var(--main-card-font-weight);
  inset-block-start: 25px;
  inset-inline-end: clamp(0.6875rem, 0.3794rem + 1.3146vw, 1.5625rem);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  z-index: 10;
  text-shadow:
    1px 0px 0 var(--background-color),
    0px 1px 0 var(--background-color),
    -1px 0px 0 var(--background-color),
    0px -1px 0 var(--background-color);
}

@supports (
  (text-stroke: 1px var(--background-color)) or
    (-webkit-text-stroke: 1px var(--background-color))
) {
  .card__lable {
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
    text-shadow: none;
  }
}

/* Фильтры для карточек */

/* Фильтр 2 карточки */
.saturate__filter-pale {
  filter: saturate(30%);
}

/* фильтр 3 карточки */
.saturate__filter-bright {
  filter: saturate(400%);
}

/* Фильтр 4 карточки */
.filter__hue-rotate {
  filter: hue-rotate(388deg);
}

/* Фильтр 5 карточки */
.filter__invert {
  filter: invert(80%);
}

/* Фильтр 6 карточки */
.filter__sepia {
  filter: sepia(90%);
}

/* Фильтр 7 карточки */
.filter__blur {
  filter: blur(20px);
}

/* Фильтр 8 карточки */
.filter__multifilter {
  filter: hue-rotate(90deg) blur(2.5px) invert(15%) brightness(110%);
}

/* Текстовый контент для картиочек */

.article__card-text {
  background-color: var(--background-color);
  border-top: 2px solid var(--accent-color);
}

.article__card-text-area {
  margin: 25px;
}

.article__card-text-block {
  font-family: var(--main-font), sans-serif;
  font-weight: var(--main-txt-wdth);
  line-height: 21.4px;
  margin-block-end: 25px;
}

.article__card-text-block:last-of-type {
  margin-block-end: 24px;
}

/* Кнопка lIke */

.card__like-button-area {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
  margin-block-end: 25px;
  background-color: transparent;
  border: none;
  outline: none;
}

.card__like-button {
  position: relative;
  inline-size: 130px;
  block-size: 38px;
  font-family: var(--accent-font), fantasy;
  font-size: var(--accent-font-size);
  font-weight: var(--main-txt-wdth);
  background-color: transparent;
  padding: 9px 17px;
  border: 2px solid var(--accent-color);
  cursor: pointer;
  color: var(--accent-color);
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
  transition: 0.3s ease;
}

.card__like-button:focus,
.footer__button:focus,
.popup__close:focus {
  outline: none;
}

.card__like-button:focus-visible,
.footer__button:focus-visible,
.popup__close:focus-visible {
  box-shadow: 2px 2px 0px var(--accent-color);
  outline: 2px solid var(--accent-color);
  transition: 0.3s ease;
}

.card__like-button::after,
.footer__button::after,
.popup__close::after {
  position: absolute;
  content: '';
  background-color: var(--accent-color);
  width: 0;
  transition: 0.5s ease-in-out;
  inset: 0;
  transform-origin: left;
}

.card__like-button:hover::after,
.footer__button:hover::after,
.popup__close:hover::after {
  width: 100%;
}

.card__icon-button,
.footer__button {
  inline-size: 38px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.button__text {
  font-size: 14px;
  font-family: var(--accent-font), fantasy;
  position: relative;
  mix-blend-mode: difference;
  z-index: 1;
  color: var(--color-txt-btn);
}

.sparks {
  opacity: 0;
}

/* Footer */

.footer {
  display: flex;
  justify-content: center;
  margin-block-end: 103px;
}

.footer__button {
  position: relative;
  inline-size: clamp(19.125rem, 18.3768rem + 3.1925vw, 21.25rem);
  block-size: 55px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-inline-start: 19px;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  transition: box-shadow 0.3s ease;
  overflow: hidden;
}

.button__icon {
  inline-size: 21px;
  block-size: 21px;
  position: relative;
  color: var(--color-txt-btn);
  mix-blend-mode: difference;
  z-index: 1;
}

/* Всплывающее окно POPUP */
.popup[open] {
  inline-size: clamp(21.3125rem, 20.9604rem + 1.5023vw, 22.3125rem);
  block-size: clamp(12.1875rem, 12.2315rem + -0.1878vw, 12.0625rem);
  padding: 30px;
  background-color: var(--background-color);
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
  font-size: 14px;
  font-family: var(--accent-font), fantasy;
  font-weight: var(--main-card-font-weight);
  text-transform: uppercase;
  line-height: 150%;
  /* opacity: 0.5; - для проверки размеров по ПП */
}

.popup[open]::backdrop {
  background: rgb(0, 0, 0);
  opacity: 0.75;
}

.popup__window {
  display: flex;
  align-items: center;
  color: var(--accent-color);
}

.button__icon-popup {
  inline-size: 90px;
  block-size: 40px;
  margin-right: 12px;
  stroke: var(--accent-color);
}

.button__text-popup {
  font-size: 14px;
}

.popup__close-button {
  display: flex;
  justify-content: center;
}

.popup__close {
  inline-size: clamp(21.3125rem, 20.9604rem + 1.5023vw, 22.3125rem);
  margin-top: 30px;
  block-size: 38px;
  position: relative;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  font-size: var(--accent-font-size);
  font-family: var(--accent-font), fantasy;
  font-weight: var(--main-card-font-weight);
  color: var(--accent-color);
  text-transform: uppercase;
  line-height: 150%;
  transition: 0.3s ease;
  overflow: hidden;
  cursor: pointer;
}

@media (width <= 375px) {
  .footer__button {
    display: flex;
    flex-direction: column;
    block-size: 82px;
    /* padding-top:15px; */
    padding: 15px 18px;
    font-size: 14px;
  }

  .article__card-text-area {
    margin: 26px;
  }

  .article__card-text-block {
    line-height: 21px;
  }

  .button__icon {
    inline-size: 28px;
    block-size: 28px;
  }

  .popup[open] {
    padding: 30px 40px;
  }

  .button__icon-popup {
    margin-right: 18px;
  }
}
