/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

:root {
  --main-font: 'Inter-Variable', sans-serif;
  --main-font-size: 18px;
  --accent-font-size: 14px;
  --main-txt-wdth: 400;
  --accent-txt-wdth: 700;
  --accent-font: 'PressStart2P-Regular', sans-serif;
  --main-card-font-weight: 400;
  --background-color: #fff;
  --accent-color: #000;
  --background-image: repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      rgba(0, 0, 0, 0) 2px 4px
    ),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgba(0, 0, 0, 0) 2px 4px),
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-size: var(--main-font-size);
  font-family: var(--main-font);
  font-variation-settings: 'wgth' var(--main-card-font-weight);
  background-color: var(--background-color);
  color: var(--accent-color);
}

body {
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
}

/* Хедер */

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* max-inline-size: 696px; */
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  padding-bottom: 25px;
  /* max-block-size: 364px; */
  /* block-size: 368px; */
  margin: 100px auto 100px;
  font-family: var(--accent-font);
  background-color: var(--background-color);
  border: 2px solid rgb(0, 0, 0);
}

.heading {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  padding-block-start: clamp(7.5rem, 6.3462rem + 4.9231vw, 8.5rem);
  padding-block-end: 20px;
  text-transform: uppercase;
}

.header__menu-title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  padding-bottom: 24px;
}

/* Кнопки переключения тем */

.theme-menu {
  inline-size: 84px;
  block-size: 70px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.theme-menu__item {
  font-size: 14px;
  padding-inline-start: 4px;
}

/* Кнопки переключения тем */

.theme-menu__button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  position: relative;
}

.theme-menu__button::before {
  content: '▶';
  position: absolute;
  left: -13px;
  animation: pulse 1s infinite ease-in-out;
}

/* Основной контент */

/* Общие стили карточек */

.article__card-content {
  display: flex;
  flex-direction: column;
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  border: 2px solid rgb(0, 0, 0);
  margin: 0 auto 50px;
}

.article__title {
  font-weight: var(--accent-txt-wdth);
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  padding: 5px 10px;
  letter-spacing: 0.1px;
  line-height: 23px;
  /* border: 2px solid rgb(0, 0, 0); */
  background-color: var(--background-color);
}

.card__image {
  width: 100%;
  max-height: 696px;
  display: inline-block;
  position: relative;
}

.bus__image {
  max-width: 100%;
  height: auto;
  display: block;
}

.card__lable {
  position: absolute;
  font-family: var(--accent-font);
  font-size: var(--accent-font-size);
  font-weight: var(--main-card-font-weight);
  inset-block-start: 25px;
  inset-inline-end: clamp(0.6875rem, 0.3794rem + 1.3146vw, 1.5625rem);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  z-index: 10;
  text-shadow:
    1px 0px 0 var(--background-color),
    0px 1px 0 var(--background-color),
    -1px 0px 0 var(--background-color),
    0px -1px 0 var(--background-color);
}

@supports (
  (text-stroke: 1px var(--background-color)) or
    (-webkit-text-stroke: 1px var(--background-color))
) {
  .card__item_watermark {
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
    text-shadow: none;
  }
}

/* Фильтры для карточек */

.saturate__filter-pale {
  filter: saturate(30%);
}

.saturate__filter-bright {
  filter: saturate(400%);
}

/* Текстовый контент для картиочек */

.article__card-text {
  background-color: var(--background-color);
  border-top: 2px solid rgb(0, 0, 0);
}

.article__card-text-area {
  margin: 25px;
}

.article__card-text-block {
  font-family: var(--main-font);
  font-weight: var(--main-txt-wdth);
  letter-spacing: 0.61px;
  line-height: 21.8px;
  margin-block-end: 25px;
}

.article__card-text-block:last-of-type {
  margin-block-end: 24px;
}

/* Кнопка lIke */

.card__like-button-area {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-block-end: 25px;
  background-color: transparent;
  border: none;
  outline: none;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  font-family: var(--accent-font);
  font-size: var(--accent-font-size);
  font-weight: var(--main-card-font-weight);
  background-color: transparent;
  border: none;
  padding: 9px 17px;
  box-sizing: border-box;
  border: 2px solid rgb(0, 0, 0);
  cursor: pointer;
}

.like-icon {
    
}

.card__icon-button{
  width: 39px;
  height: 36px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
