/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --main-font: 'Inter-Variable', sans-serif;
  --main-font-size: 18px;
  --accent-font-size: 14px;
  --main-txt-wdth: 400;
  --accent-txt-wdth: 700;
  --accent-font: 'PressStart2P-Regular', sans-serif;
  --main-card-font-weight: 400;
  --background-color: #fff;
  --accent-color: #000;
  --color-txt-btn: #f5f5f5;
  --like-contour-color: #000;
  --like-main-body-color: red;
  --like-sparks-color: red;
  --background-image: repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      rgba(0, 0, 0, 0) 2px 4px
    ),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgba(0, 0, 0, 0) 2px 4px),
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
}

:root.theme-dark {
  --main-font: 'Inter-Variable', sans-serif;
  --accent-font: 'PressStart2P-Regular', sans-serif;
  --main-card-font-weight: 400;
  --main-font-size: 18px;
  --accent-font-size: 14px;
  --main-txt-wdth: 400;
  --accent-txt-wdth: 800;
  --background-color: #000;
  --accent-color: #00cc14;
  --color-txt-btn: #00cc14;
  --like-contour-color: #00cc14;
  --like-main-body-color: red;
  --like-sparks-color: red;
  --background-image: repeating-linear-gradient(
      90deg,
      #000 0 2px,
      rgba(0, 0, 0, 0) 2px 4px
    ),
    repeating-linear-gradient(180deg, #000 0 2px, rgba(0, 0, 0, 0) 2px 4px),
    linear-gradient(180deg, rgb(0, 127, 12), rgb(0, 67, 6) 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-font: 'Inter-Variable', sans-serif;
    --accent-font: 'PressStart2P-Regular', sans-serif;
    --main-card-font-weight: 400;
    --main-font-size: 18px;
    --accent-font-size: 14px;
    --main-txt-wdth: 400;
    --accent-txt-wdth: 800;
    --background-color: #000;
    --accent-color: #00cc14;
    --color-txt-btn: #00cc14;
    --like-contour-color: #00cc14;
    --like-main-body-color: red;
    --like-sparks-color: red;
    --background-image: repeating-linear-gradient(
        90deg,
        #000 0 2px,
        rgba(0, 0, 0, 0) 2px 4px
      ),
      repeating-linear-gradient(180deg, #000 0 2px, rgba(0, 0, 0, 0) 2px 4px),
      linear-gradient(180deg, rgb(0, 127, 12), rgb(0, 67, 6) 100%);
  }
}
