/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: 'Inter-Variable', sans-serif;
  --main-font-size: 18px;
  --accent-font-size: 14px;
  --main-txt-wdth: 400;
  --accent-txt-wdth: 700;
  --accent-font: 'PressStart2P-Regular', sans-serif;
  --main-card-font-weight: 700;
  --background-color: #fff;
  --accent-color: #000;
  --color-txt-btn: #f5f5f5;
  --like-contour-color: #000;
  --like-main-body-color: red;
  --like-sparks-color: red;
  --background-image: repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      rgba(0, 0, 0, 0) 2px 4px
    ),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgba(0, 0, 0, 0) 2px 4px),
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
}
